{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": ["error"],
    "@typescript-eslint/no-var-requires": 0,
    "arrow-body-style": ["error", "as-needed"],
    "camelcase": "error",
    "spaced-comment": "error",
    "quotes": ["error", "single"],
    "no-duplicate-imports": "error",
    "no-empty-function": 0,
    "no-use-before-define": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-empty-function": "off",    
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/no-unused-vars": "error",    
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "react/no-array-index-key": "warn",
    "react/display-name": "warn",
    "react/no-children-prop": "warn",
    "react/no-danger-with-children": "warn",
    "react/jsx-no-bind": "warn",
    "react/self-closing-comp": ["error", { "component": true, "html": true }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/some-rule": "off"
      }
    }
  ]
}
